<div class="p-5 d-flex flex-column gap-3">
  <p class="m-0">Focus is marked with a red rectangle.</p>
  <div class="form-check form-switch">
    <input
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="focustrap-on-off"
      [formControl]="focusTrapSwitch"
    />
    <label class="form-check-label" for="focustrap-on-off"
      >Turn this switch on to trap the focus inside the focus trap</label
    >
  </div>
  <div>
    <a href="https://github.com/pukanito/focustrap">Outside, before the trap</a>
  </div>
  <div #focusTrapContainer class="p-2 d-flex flex-column gap-2">
    <div>
      <a href="https://github.com/pukanito/focustrap"
        >Inside the trap, first focusable element</a
      >
    </div>

    <div>
      <a href="https://github.com/pukanito/focustrap"
        >Inside the trap, last focusable element</a
      >
    </div>
  </div>
  <div>
    <a href="https://github.com/pukanito/focustrap">Outside, after the trap</a>
  </div>
</div>
